<section class='content-section full-screen-container-fluid-2'  id="about-section">
	<div class="container-fluid full-screen-container-fluid">
		<div class="row  " >
			<h1 class="piecesOfEight piecesOfEight-xbig piecesOfEight-space piecesOfEight-black piecesOfEight-center"> Acerca de Jack's Beers </h1>

			<div class="about-container" id="about-section-row">
				<p>
				 	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean feugiat lorem elit, vel mattis nibh faucibus non. Ut eget dapibus enim, vitae ullamcorper mi. Aliquam gravida, velit et sodales lacinia, augue sem maximus ipsum, ut convallis dolor nisl id sapien. Quisque quis justo ultricies, tempus magna vel, rutrum mauris. Ut id magna in libero vestibulum suscipit sit amet eget lectus. Fusce ornare ex turpis, blandit gravida ipsum bibendum nec. Nunc blandit elit enim, et pellentesque magna bibendum vitae. Proin nec ullamcorper justo.
				 </p>

				 <p>
				 	Donec finibus tortor sit amet finibus gravida. Nam lacus orci, porta in ante ut, luctus suscipit nibh. Integer sagittis, sem ac porttitor lobortis, mauris neque tristique neque, nec volutpat mauris odio nec elit. Fusce placerat tortor vitae nisi hendrerit efficitur. Morbi a odio lectus. Etiam fringilla ex at diam eleifend, ac interdum mi pharetra. Donec ut ante sed turpis euismod molestie. Quisque dignissim, magna vel congue gravida, nisl odio consequat leo, a imperdiet quam ex eu ligula. Nunc lacus nunc, pretium quis fringilla a, lobortis sit amet quam. Ut convallis, ipsum eget placerat dignissim, tellus nibh interdum ligula, sed finibus augue dolor in ante. Duis eleifend dictum dolor, eu varius leo porta eu. Nulla facilisis leo et nulla blandit pulvinar. Pellentesque luctus consectetur elit in consequat. Aenean nisi arcu, ullamcorper eu erat ut, congue tempor enim. Curabitur eget nisl vehicula, lobortis diam cursus, lobortis eros.
			 </p>
			</div>
		</div>
		<br>
		<br>

		<div class="row" id="features-section-row">
			<div class=" col-xs-12 col-sm-12 col-md-4 " >
	         	<div class="card">
					<div class="card-block">
						<h4 class="card-title"> Titulo </h4>
						<h6 class="card-subtitle text-muted"> subtitulo</h6>
					</div>
					<%= image_tag "pirates-icons-rum.png",class: "img-responsive  centered-image" , alt:"Card image cap" %>
					<div class="card-block">
						<p class="card-text"> alsdkajdklas</p>
						
					</div>
				</div>   
	        </div>
	        <div class=" col-xs-12 col-sm-12 col-md-4 " >
	         	<div class="card">
					<div class="card-block">
						<h4 class="card-title"> Titulo</h4>
						<h6 class="card-subtitle text-muted"> subtitulo</h6>
					</div>
					<%= image_tag "pirates-icons-rum.png",class: "img-responsive  centered-image" , alt:"Card image cap" %>
					<div class="card-block">
						<p class="card-text"> alsdkajdklas</p>
						
					</div>
				</div>   
	        </div>
	        <div class=" col-xs-12 col-sm-12 col-md-4 " >
	         	<div class="card">
					<div class="card-block">
						<h4 class="card-title"> Titulo</h4>
						<h6 class="card-subtitle text-muted"> subtitulo</h6>
					</div>
					<%= image_tag "pirates-icons-rum.png",class: "img-responsive  centered-image" , alt:"Card image cap" %>
					<div class="card-block">
						<p class="card-text"> alsdkajdklas</p>
						
					</div>
				</div>   
	        </div>
			
		</div>
	</div>
</section>