<section class='content-section '  id="contact-section">
  <div class="container-fluid full-screen-container-fluid  ">
    <div class="row full-screen-container-fluid  ">
      <div class="col-md-12 full-screen-container-fluid  ">
        <div class="row full-screen-container-fluid  ">
          <div class=" full-screen-container-fluid  border-blue">
            <div class="row background-dark full-screen-container-fluid  " >

              <div class="col-md-9 full-screen-container-fluid border-red">
                <form id="contact-form" class="styled-form" accept-charset="utf-8" method="post" action="">
                  <div class="">
                    <h1 class="piecesOfEight piecesOfEight-xbig piecesOfEight-space piecesOfEight-white piecesOfEight-center"> Contacto</h1>
                    <div class="note piecesOfEight piecesOfEight-xs piecesOfEight-space piecesOfEight-white piecesOfEight-center">

                      <p>We are here to answer any questions you may have about our combadi experiences. Reach out to us and we'll respond as soon as we can.</p>
                      <p>Even if there is something you have always wanted to experience and can't find it on combadi, let us know and we promise we'll do our best to find it for you and send you there.</p>
                    </div>

                    <div class="form-group spaced-form-group">
                      <label class="control-label col-sm-2 piecesOfEight piecesOfEight-xs piecesOfEight-space piecesOfEight-white piecesOfEight-center" for="name">Nombre:</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" name="name" placeholder="correo@ejemplo.com">
                      </div>
                    </div>
                    <br>
                    <div class="form-group spaced-form-group">
                      <label class="control-label col-sm-2 piecesOfEight piecesOfEight-xs piecesOfEight-space piecesOfEight-white piecesOfEight-center" for="email">Correo:</label>
                      <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Juan López">
                      </div>
                    </div>
                    <br>
                    <div class="form-group spaced-form-group">
                      <label class="control-label col-sm-2 piecesOfEight piecesOfEight-xs piecesOfEight-space piecesOfEight-white piecesOfEight-center" for="comment">Mensaje:</label>
                      <div class="col-sm-10">
                        <textarea class="form-control" rows="5" id="comment" name="comment"> </textarea>
                      </div>
                    </div>
                    <br>
                  </div>
                </form>
              </div>
              <div class="col-md-3 full-screen-container-fluid " id="contact-info">
                <div class="">
                  
                  <dl>
                    <dt>Correo</dt>
                    <dd>
                      <a title="Click to send us an email" href="mailto:info@combadi.com">info@jacksbeers.com</a>
                    </dd>
                    <dt>Teléfono</dt>
                    <dd>
                      <a title="Click to call us" href="tel:00306977447033">+44 20 7193 3316</a>
                    </dd>
                    <dt>Skype</dt>
                    <dd>
                      <a title="Click to call us on Skype" href="skype:combaditravel?call">combaditravel</a>
                    </dd>
                    <dt>Address</dt>
                    <dd>
                      <address>
                        Combadi Ltd.
                        <br>
                        1 Kings Avenue
                        <br>
                        London
                        <br>
                        N21 3NA
                        <br>
                        England
                        <br>
                        Company No. 08714000
                      </address>
                    </dd>
                    <dd class="social-links">
                      <div class="icons">
                        <ul class="nav  ">
                          <li>
                            <a class=" fa fa-facebook fa-2x" href="#">
                            </a>
                          </li>
                          <li>
                            <a class=" fa fa-twitter fa-2x" href="#">
                            </a>
                          </li>
                          <li>
                            <a class=" fa fa-instagram fa-2x" href="#"> 
                            </a>
                          </li>
                        </ul>
                      </div>
                    </dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="hover-tile-outer">
  <div class="hover-tile-container">
    <div class="hover-tile hover-tile-visible"></div>
    <div class="hover-tile hover-tile-hidden">
      <h4>Hidden Copy</h4>
      <p>Lorem ipsum dolor provident eligendi fugiat ad exercitationem sit amet, consectetur adipisicing elit. Unde, provident eligendi.</p>
    </div>
  </div>
</div>

</section>









