<section class='content-section full-screen-container-fluid-2'  id="covertura-section">
	<div class="container-fluid full-screen-container-fluid">
		<h1 class="piecesOfEight piecesOfEight-xbig piecesOfEight-space piecesOfEight-black piecesOfEight-center"> Covertura </h1>
		<div class="">
				<%= image_tag "map.png",class: "img-responsive  centered-image", alt:"Card image cap" %>
		</div>
	</div>
</section>

