<footer class="footer-distributed piecesOfEight  piecesOfEight-space piecesOfEight-white ">
	<div class="row">
		<div class=" col-xs-12 col-sm-12 col-md-6 piecesOfEight-left" >
			<div class="">
				<a class="  piecesOfEight-md piecesOfEight-golden" href="index.html"> Jack's Beers </a>
			</div>
			<p class="">
				<a href="#">Blog</a>
				<a href="#">Acerca de</a>
				<a href="#">Faq</a>
				<a href="#">Contacto</a>
				</p>
				<p class="footer-company-name">Jack's Beers Company © 2016</p>
		</div>
		<div class=" col-xs-12 col-sm-12 col-md-6 " >
			<div>
				
				<p><i class="fa fa-map-marker piecesOfEight-white"></i> Ciudad Nezahualcoyotl, México</p>
			</div>
			<div>
				<p><i class="fa fa-phone piecesOfEight-white"></i> 55 123456</p>
			</div>
			<div>
				<p><i class="fa fa-envelope piecesOfEight-white"></i><a href="mailto:support@company.com"> support@company.com</a></p>
			</div>
			<div>
				<p><i class="fa fa-envelope piecesOfEight-white"></i> Permiso: 123346123 </p>
			</div>
		</div>
		
	</div>
</footer>

