<section class='content-section full-screen-container-fluid-2 '  id="home-section">
	<div class="container-fluid full-screen-container-fluid-2 ">
		<div class=" presentation-container full-screen-container-fluid-2 ">
			<div class="row ">
				<%= image_tag "pirates-front-large.png",class: "img-responsive  centered-image" , alt:"Card image cap" %>
			</div>
			<div class="row ">
					<%= image_tag "treasure-map.png",class: "img-responsive  centered-image" , alt:"Card image cap" %>
			</div>
			<div class="row ">
					<%= image_tag "pirates-front-large-2.png",class: "img-responsive  centered-image" , alt:"Card image cap" %>
			</div>
			<div class="row ">
					<%= image_tag "pirates-front-large-3.png",class: "img-responsive  centered-image" , alt:"Card image cap" %>
			</div>
			
			
		</div>
	</div>
</section>