<div class="card-container auto-height manual-flipped-car">
	<div class="card auto-height">
		<div class="front auto-height no-background-card">
			<div class="cover auto-height">
				<%= image_tag "jacks-beers-front-1.jpg",class: "img-responsive card-img-top img-rounded-corners centered-image" , alt:"Card image cap" %>
			</div>
		</div> <!-- end front panel -->
		<div class="back auto-height">
			<div class="cover auto-height">
				<%= image_tag "jacks-beers-front-1.jpg",class: "img-responsive card-img-top img-rounded-corners centered-image" , alt:"Card image cap" %>
			</div>
		</div> <!-- end back panel -->
	</div> <!-- end card -->
</div> <!-- end card-container -->

<!--
<div class="card card-with-opacity-full card-with-no-border">
	<image_tag "jacks-beers-front-1.jpg",class: "img-responsive card-img-top img-rounded-corners centered-image" , alt:"Card image cap" >
</div>
-->