<div >
	<div class="logo" >
	<a href="index.html" class="piecesOfEight piecesOfEight-space piecesOfEight-big piecesOfEight-golden">
		Jack's Beers
	</a>
	<p class="piecesOfEight piecesOfEight-space piecesOfEight-xs piecesOfEight-white">Lorem impsum dolor persecutor</p>
</div>
<div class="icons">
	<ul class="nav  ">
		<li>
			<a class=" fa fa-facebook fa-2x" href="#">
			</a>
		</li>
		<li>
			<a class=" fa fa-twitter fa-2x" href="#">
			</a>
		</li>
		<li>
			<a class=" fa fa-instagram fa-2x" href="#">	
			</a>
		</li>
	</ul>
</div>
<div class="">
	<ul class="nav nav-pills nav-stacked piecesOfEight piecesOfEight-space piecesOfEight-xs piecesOfEight-white">
		<li role="presentation" class="active">
			<a id="home-jump"  href="#" ><i class="fa fa-home fa-2x piecesOfEight-white"></i> Inicio</a>
		</li>
		<li>
			<a id="services-jump" href="#"><i class="fa fa-beer fa-2x piecesOfEight-white"></i>Tienda</a>
		</li>
		<li>
			<a href="#"><i class="fa fa-picture-o"></i>Multimedia</a>
		</li>
		<li>
			<a href="#">Acerca de Jack</a>
		</li>
		<li>
			<a href="#">Contacto</a>
		</li>
	</ul>
</div>
</div>
