<section class="section-separator  section-separator-1  messages-color-1"> 
	<div class="container">
		<div class="page-header piecesOfEight piecesOfEight-big">
			
  			<h1 class=" message piecesOfEight piecesOfEight-big" ><%= message %></h1>
  			<h1  ><small class="  piecesOfEight ">Somo el único servicio de cerveza a domicilio.</small></h1>
		</div>
		
		
	</div>
</section>