<section class="section-separator  section-separator-1  messages-color-1" id="<%= id %>"> 
	<div class="container-fluid">
		<div class="">
			
  			<h1 class=" message piecesOfEight piecesOfEight-center piecesOfEight-space piecesOfEight-golden piecesOfEight-big" ><%= message %></h1>
  			<h2 class="  piecesOfEight piecesOfEight-center piecesOfEight-space piecesOfEight-white piecesOfEight-md "><%= message2 %></h2>
		</div>
		
		
	</div>
</section>